@import 'config';
// Top Styling

.top{
    padding: 10px 0;
    background-color: $Dblue;

    .flex{
        @include flex(space-between);
    }
    .contact{
        i{
        color: $orange;
        margin-right: 10px;
       }
       span{
        margin-right: 20px;
        color: #fff;
        font-weight: 500;
       }
    }
    .media{
        i{
            color: #fff;
            cursor: pointer;
            margin-right: 10px;
        }
        button{
            @include button($orange,#fff,10px 20px)
        }
    }
    

}


//Header Style
header{
    // background-color: red;
    img{
        cursor: pointer;
    }
    .container{
        padding: 30px 20px;
        @include flex(space-between);
    }
    ul{
        @include flex(space-between);
        button{
            @include button($orange,#fff,10px 20px)

        }

        li{
            margin-left: 10px;
            a{
                color: $Dblue;
                transition: .2s ease;

                &:hover{
                    color: $orange;
                }
            }
        }
    }

    .media{
        @include flex(space-between);
    }

    .media i{
        margin-left: 10px;
        color: $Dblue;
        transition: .2s ease;
        padding: 10px;
        &:hover{
            color: $orange;
        }
        box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.3);
        cursor: pointer;

    }
    .nav-mobile{
        display: none;
    }
    .mobile{
        display: none;
       
    }
    @media screen and (max-width:768px) {
        .mobile{
            display: block;
           
        }
        .nav-mobile{
            display: block;
            position:absolute;
            top: 50px;
            left: 1px;
            margin-top: 20px;
            text-align: left;
            height: 60vh;
            background-color: #fff;
            width: 30%;
            li{
                margin-top: 20px;
            }
        }
        .flex{
            display: none;
        }
    }
    
}

//Hero Style

.hero{
    height: 90vh;
    background-color: $hero;
    .container{
        @include flex(space-between);
        text-align: left;
        padding-top: 100px;

        .left{
            width: 47%;
            h1{
                font-size: 40px;
                color: #000;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            i{
                margin-right: 10px;
                color: $orange;
            }
            p{
                color: $description;
            }
            button{
                margin-top: 20px;
                font-size: 18px;
                @include button($orange,#fff,15px 30px);

            }
        }

        img{
            width: 70%;
            margin-left: 150px;
        }
    }

    @media screen and (max-width:768px) {
        height: 120vh;
        .container{
            display: block;
            align-items: left;
            text-align: left;
        }
        
    }
}


//About Page Style

.about{
    height: 100vh;
    .container{
        text-align: left;
        display: flex;
        justify-content: space-between;
        padding-top: 50px;

        .right{
            margin-left: 50px;
            margin-top: 50px;
        }
        h1{
            margin-top: 20px;
            margin-bottom: 10px;
        }
        p{
            font-size: 15px;
            color: $description;
            margin-bottom: 30px;
        }
        .col{
            display: flex;
            i{
                background-color: $Worange;
                text-align: center;
                align-items: center;
                color: $orange;
                padding: 10px;
                position: absolute;
                border-radius: 50%;
            }
            p{
                margin-left: 50px;
                margin-top: 5px;
            }
        }
        span{
            background-color: $Worange;
            padding: 5px 10px;
            font-size: 15px;
            color: $orange;
            border-radius: 50px;
            
        }

        .grid{
            @include grid(2);
        }
    }

   @media screen and (max-width:768px) {
    .container{
        display: block;
    }
    .right{
        h1{
            font-size: 20px;
        }
        width: 60%;
    }
    img{
        width: 60%;
    }
   }

}

//services Style

.services{
    height: 130vh;
    background-color: $hero;
    // margin-top: 200px;
    padding-top: 180px;
    text-align: center;
    .container{
        span{
            margin-bottom: 10px;
        }
        h1{
            margin-bottom: 50px;
        }
        .flex{
            @include flex(space-between);

            .card{
                padding: 10px;
                height: 400px;
                text-align: center;
                background-color: #fff;
                margin-left: 30px;
                h4{
                    margin-top: 10px;
                    margin-bottom: 20px;
                    font-size: 25px;
                }
                p{
                    font-size: 15px;
                    color: $description;
                    margin-bottom: 20px;
                }
                a{
                    color: $description;
                }
            }
        }
    }
}

//News style

.blog{
    height: 100vh;
    .container{
        text-align: center;
        // padding-top: 50px;
        .text{
            margin-top: 50px;

            span{
                background-color: $Worange;
                color: $orange;
                padding:5px;
                border-radius: 50px;
            }
            h1{
                margin-top: 20px;
            }
        }
        .flex{
            @include flex(space-between);
        }
        img{
            width: 100%;
        }
        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            margin-left: 20px;
            margin-top: 50px;
            text-align: left;
          }
          
          /* On mouse-over, add a deeper shadow */
          .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          }
          
          /* Add some padding inside the card container */
          .card-body {
            padding: 2px 16px;
        }
        .info{
            display: flex;
            margin-left: 20px;
        }
        .date{
            display: flex;
            margin-left: 20px;
        }
        .card-footer{
            @include flex(space-between);
            padding: 10px;
            margin-bottom: 20px;
        }
        p{
            color: $description;
            margin-left: 4px;
            font-size: 15px;
        }
        h4{
            font-size: 20px;
            margin-bottom: 20px;
            transition: .2s ease;
            &:hover{
                color: $orange;
            }
        }
        .info-item{
            margin-top: 20px;
            margin-bottom: 20px;
            margin-right: 20px;
            align-items: center;
            i{
                color: $orange;
            }
            display: flex;
            // margin-left: 50px;
        }
    }
}
footer{
    height: 70vh;
    background-color: #181c2b;

    ul{
        li{
            a{
                color: #fff;
            }
            margin-top: 10px;
        }
    }
    .container{
        margin-bottom: 50px;
        padding-top: 50px;
        text-align: left;
       @include grid(4);

       p{
        color: #fff;
       }
       img{
        margin-bottom: 10px;
       }
       h4{
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
       }
       .item{
        margin-top: 30px;
        display: flex;
        align-items: center;
        color: #fff;
        i{
            margin-right: 20px;
        }
       }
    }

    .contact{
        margin-right: 100px;
    }
    .last{
        background-color: #282b39;
        height: 10vh;
        text-align: center;
        padding-top: 20px;
        color: #fff;
    }
}

// dashboard style

//products page

.card{
    width: 80%;
    margin-left: 50px;
    align-items: center;
  }
  .card-top{
    background-color: #04AA6D;
    padding: 10px 10px;
  }
  table{
    margin-top: 10px;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .card-top h4{
    color: #fff;
  }
  tbody{
    margin-top: 10px;
  }
  
















